.App {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

.profile {
  height: 2.813rem;
  width: 2.813rem;
}

li {
  list-style: none;
}

.rectangle {
  width: 5.625rem;
  height: 5.62rem;
  padding: 0.62rem 0.625rem 0.75rem 0.75rem;
}

.inner-b {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 100px;
  position: relative;
  border: 5px solid #4386bf;
  border-left-color: #b3adad;
  rotate: 30deg;
}

hr {
  border: 1px solid #b3adad;
}

input {
  height: 2rem;
  outline: none;
}
